body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2DBD4;
    color: #000C13;
}
h1{
    margin: 0;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}
.header, .footer{
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 30px;
    color: #E2DBD4;
    background-color: #23323F;
}
.main{
    display: grid;
    padding: 10px;
    /* grid-template-columns: repeat(2, 1fr);*/
    grid-template-areas: 
    "photo summary"
    "photo code"
    "contacts experience"
    "skills experience"
    "english education";
    grid-gap: 10px;
}
section{
    padding: 10px;
}
.color{
    border-radius: 5px;
    border: 1px dashed #808080cc;
}
.photo_img{
    width: 200px;
    height: 250px;
    margin: -30px auto 0;
    border-radius: 5px;
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #83292D;
}
.subtitle{
    font-weight: bold;
}
/* sections  */
.photo{
    padding: 0;
    position: relative;
    grid-area: photo;
}
.contacts{
    grid-area: contacts;
}

.summary{
    grid-area: summary;
}
.skills{
    grid-area: skills;
}
.code{
    grid-area: code;
}
.experience{
    grid-area: experience;
}
.education{
    grid-area: education;
}
.english{
    grid-area: english;
}
/* ------icons----------------- */
.title_contacts::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url(contact-list.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.ico_phone::before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url(mobile-phone.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.ico_mail::before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url(email.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.ico_linkedin::before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url(linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title_summary::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url(user-folder.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title_skills::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url(skills.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title_code::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url(clean-code.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.ico_github::before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url(github.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title_experience::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url(experience.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title_education::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url(education.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title_english::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url(english.svg);
    background-repeat: no-repeat;
    background-position: center;
}
/* -------------------------------- */
.list{
    padding-inline-start: 10px;
    list-style-type: none;
}
.list_disc{
    padding-inline-start: 20px;
    line-height: 30px;
}
@media screen and (max-width: 580px) {
    .main{
        font-size: 0.8rem;
    }
    .header{
        font-size: 0.8rem;
    }
    .photo_img{
    }
}